<main class="container">
  <div class="jumbotron">
    <h1>Home</h1>
    <p class="text-justify">
      Este projeto apresenta uma demonstração de acesso a uma API pública que retorna dados sobre pokemons.
      As tecnológias envolvidas são Angular, Angular Material e Bootstrap.
    </p>
    <ul>
      <li><a href="https://angular.io/">Angular</a></li>
      <li><a href="https://material.angular.io/">Angular Material</a></li>
      <li><a href="https://getbootstrap.com/">Bootstrap</a></li>
      <li><a href="https://pokeapi.co/">Api Pokemon</a></li>
    </ul>
  </div>
</main>